/*  GENERAL   */

*{
  box-sizing: border-box;
}

html {
  scroll-behavior:smooth;
  min-height: 100%;
  min-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  background-image:url(earth-space-shuttle-V2.jpg);
  background-repeat: no-repeat;
  color: rgb(250, 243, 233);
}

a:link 
{ 
 text-decoration:none; 
} 

#navbar {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  height: 153px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  -webkit-transition: 0.48s;
  transition: 0.48s;
  z-index: 100;
}

.rest{
  background: linear-gradient(rgb(106,140,165), rgb(124, 66, 190));
  width: 3500px;
  max-height: 5000px;
  margin: 0;
}

.footer{
  width: 3500px;
  height: 200px;
  margin: 0;
  background-color: #0b0229;
}


#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #0b0229;
}


/*  HEADER  */



.profile-picture{
  position: relative;
  display: flex;
  max-width: 200px;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.me{
  max-height: 93%;
  border-style: solid;
  border-color: rgb(250, 243, 233);
  border-width: 2px;
  border-radius: 120px;

  transition: opacity 0.2s;
}

.me:hover{
  opacity: 0.08;
}

.profile-picture .bigger-me{
  position: absolute;
  height: 200%;
  border-style: solid;
  border-color: rgb(250, 243, 233);
  border-width: 2px;
  border-radius: 300px;



  left: 100px;
  bottom: -200px;

  opacity: 0;
  transition: opacity 0.18s;
  pointer-events: none;
}

.profile-picture:hover .bigger-me{
  opacity: 1;
}




.CV{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 40px;
  margin-right: 40px;
  flex: auto;
  flex-shrink: 0;
}

.CV-section{
  font-size: 18px;
  padding-right: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  transition: opacity 0.2s, font-weight 0.2s;
  
}

.CV-section:hover{
  cursor: pointer;
  opacity: 0.96;
  font-weight: bolder;
}

.link{
  color: rgb(250, 243, 233);
}



.name-and-title{
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-size-adjust: auto;
}

.name-and-title:hover{
  cursor: none;
}

.name-position{
  position: relative;
}

.name{
  margin: 0;
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 82px;
  text-size-adjust: auto;
}

.title-position{
  position: absolute;
  left: 76px;
  bottom: 4px;
}

.title{
  margin: 0;
  font-size: 17px;
  font-family: 'Gulzar', serif;
  text-size-adjust: auto;
}




.contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 34px;
}

.mail-position{
  position: relative;
  display: flex;
}

.mail{
  max-width: 60px;
  padding-right: 20px;
  transition: opacity 0.2s, width 0.2s;
}

.mail:hover{
  opacity: 0.68;
}

.mail-position .info{
  position: absolute;
  background-color: rgb(189, 172, 172);
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
  color:rgb(250, 243, 233);
  border-radius: 3px;
  left: -100px;
  bottom: -60px;

  opacity: 0;
  transition: opacity 0.18s;
  pointer-events: none;
}


.mail-position:hover .info{
  opacity: 1;
}


.phone-position{
  position: relative;
  display: flex;
}

.phone{
  max-width: 48px;
  transition: opacity 0.2s, height 0.2s;
}

.phone:hover{
  opacity: 0.68;
}

.phone-position .info{
  position: absolute;
  background-color: rgb(189, 172, 172);
  font-family: Arial;
  font-size: 16px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-left: 4px;
  color: rgb(250, 243, 233);
  border-radius: 3px;
  left: -70px;
  bottom: -50px;

  opacity: 0;
  transition: opacity 0.18s;
  pointer-events: none;
}

.phone-position:hover .info{
  opacity: 1;
}









/* PART. 1 */

.my-description{
  display: block;
  max-width: 628px;
  max-height: 1050px;
  padding:15px 15px;
  font-size:30px;
  margin-top: 86px;
  margin-bottom: 62px;

  font-family: 'Raleway', sans-serif;
}


.Hello{
  font-size:80px;
  margin-bottom: 52px;
}

.presentation{
  margin-bottom: 12px;
}

.commitment1{
  margin-bottom: 0px;
}

.Stade{
  color: rgb(211,12,20);
  font-weight: bolder;
}

.Toulousain{
  color: black;
  font-weight: bolder;
}


.commitment2{
  color: black;
  font-weight: bolder;
  margin-top: 6px;
}


.qualities{
  color: black;
  font-weight: bolder;
}





/* PART. 2 */ 

.left-part{
  max-width: 800px;
}


.CV-details{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}




#mon-parcours-scolaire{
  margin-top: 32px;
  margin-left: 15px;
  font-size: 52px;
  font-family: 'Raleway', sans-serif;
}

.subtitle{
  display: block;
  margin: 0;
  margin-left: 35px;

  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  text-decoration: underline;
}

.details{
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  margin-bottom: 65px;
  font-family: 'Catamaran', sans-serif;
}

.school-name{
  position: relative;
  font-weight: bold;
}

.star{
  position: relative;

}

.school-link{
  text-decoration: none;
  color: rgb(250, 243, 233);
}

.school-link:hover{
  cursor: help;
}

.school-picture{
  position: absolute;
  left: 480px;
  width: 180px;
  opacity: 0.56;
  transition: opacity 0.5s;
}
#fdh{
  left: 840px;
}

.school-picture:hover{
  opacity: 1;
}



.container{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  left: 480px;
  top: -80px;
}

.container .card1{
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.container .card1 .imgsup{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: 0.5s ease-in-out;
}

.container .card1:hover .imgsup{
  transform: translateY(-100px);
}

.container .card1 .imgsup img{
  max-width: 100%;
  margin: 0 0 20px;
  transition: 0.5s ease-in-out;
}

.container .card1:hover .imgsup img{
  transform: translate(-20px,-40px) rotate(-15deg) scale(1.4);
}

.Competition{
  text-decoration: underline;
}

.container .card1 .content1{
  position: absolute;
  display: flex;
  bottom: -140px;
  left: 18px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  color: black;
  font-size: 11px;
  opacity: 0;
  visibility: hidden;
}

.container .card1:hover .content1{
  
  opacity: 0.98;
  visibility: visible;
}





#mes-expériences{
  margin-top: 32px;
  margin-left: 15px;
  font-size: 52px;
  font-family: 'Raleway', sans-serif;
}






#mes-compétences{
  margin-top: 32px;
  margin-left: 15px;
  font-size: 52px;
  font-family: 'Raleway', sans-serif;
}

.skill{
  text-decoration: underline;
}


.info-skill{
  text-decoration: underline;
  color: rgb(250, 243, 233);
}

.info-skill:hover{
  cursor: help;
}




#mes-passions{
  margin-top: 32px;
  margin-left: 15px;
  font-size: 52px;
  font-family: 'Raleway', sans-serif;
}



#sport{
  position: relative;
}


.card{
  position: absolute;
  right: -700px;


  width: 600px;
  height: 350px;
  background-color: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
}

.card .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .circle::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(188, 21, 33);
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.card:hover .circle::before{
  background-color: rgb(33, 45, 87);
  clip-path: circle(400px at center);
  border-radius: 20px;
}



.card img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 220px;
  pointer-events: none;
  transition: 0.5s;
}

.card:hover img{
  left: 82%;
  height: 300px;
}


.card .rugby-content{
  position: relative;
  width: 48%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.card:hover .rugby-content{
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .rugby-content h2{
  color: rgb(250, 243, 233);
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
}

.card .rugby-content p{
  color: rgb(250, 243, 233);
}


@media (max-width: 991px){
  .card{
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }

  .card:hover{
    height: 600px;
  }

  .card .rugby-content{
    width: 100%;
    left: 0;
    padding: 40px;
  }

  .card:hover img{
    top: 70%;
    left: 50%;
    height: 300px;
  }
}







/* PART. 3 */

